# Replace ORG with your Arc organization name, ie demo or sandbox.demo
CONTENT_BASE=https://api.${ORG}.arcpublishing.com
# generate a readonly developer token and add it here 
ARC_ACCESS_TOKEN=<TOKEN HERE>
# Ask the video center team for you resizer token
resizerKey=<RESIZER KEY HERE>
CONTEXT_PATH=pf
FUSION_RELEASE=2.6.2
BLOCK_DIST_TAG=latest