.header {
    border: 2px solid #cce5ff;
    min-height: 300px;
    margin: 2px 0;
}

.main {
    border: 2px solid #d4edda;
    min-height: 300px;
    margin: 2px 0;
}

.aside {
    border: 2px solid #f8d7da;
    min-height: 300px;
    margin: 2px 0;
}

.footer {
    border: 2px solid #fff3cd;
    min-height: 300px;
    margin: 2px 0;
}